* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #f7f7f7;
    border: 1px solid #d4d4d4;
    width: 40%;
    margin:  20vh auto;
    border: 0.5px solid #aaa1a1;
    box-shadow: 
    8px 8px 16px rgba(0, 0, 0, 0.15),
    -8px -8px 16px rgba(255, 255, 255, 0.8);
}

#hero h2{
    font-size: 50px;
    font-weight: 500;
}

#hero h1{
    font-size: 50px;
    font-weight: 400;
    padding: 10px 50px;
    border: 1px solid #c6b5b5;
    border-radius: 15px;
    box-shadow: 
    8px 8px 16px rgba(0, 0, 0, 0.15),
    -8px -8px 16px rgba(255, 255, 255, 0.8);
}

#button{
    display: flex;
    gap: 1rem;
}

button{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    color: white;
    font-weight: bold;
}

#plus{
    background-color: rgb(70, 119, 233);
}

#minus{
    background-color: rgb(213, 108, 108);
}

#set{
    background-color: rgb(97, 191, 97);
}

button:hover{
    transform: scale(1.1);
    transition: all ease-out 0.4s;
}